######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

### macOS ###
.DS_Store

### 前端依赖与构建产物（防止再次误提交） ###
/ruoyi-ui/node_modules/
/ruoyi-ui/dist/
/ruoyi-ui/归档.zip

!*/build/*.java
!*/build/*.html
!*/build/*.xml
